:root {
    --main-text-cl: #757575;
    --accent-cl: #2196F3;
    --black-cl: #212121;
    --whait-cl: #FFFFFF;
    --dark-bg: #2F303A;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.71;
    color: var(--black-cl);
}

.container {
    width: 1170px;
    padding-left: 15px;
    padding-right:15px ;
    margin-left: auto;
    margin-right: auto;
}
.flex {
    display: flex;
}

.logo {
    display: inline-block;
    margin-top: 24px;
    margin-right: 93px;
    margin-left: 0px;
    Width: 145px;
    Height: 31px;
}
.list {
    list-style: none;
    display: inline-flex;
    height: 16px;
    margin-top: 24px;
}
.header-box{
    background-color: var(--whait-cl);
}
.logo1 {
    font-family: "Raleway", serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--accent-cl);
}
.logo2 {
    font-family: "Raleway", serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--black-cl);
}
.logo3 {
    font-family: "Raleway", serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--whait-cl)
}
.link {
    padding: 0;
    margin: 0;
    color: inherit;
    text-decoration: none;
    letter-spacing: 0,02;
}
.link-item{
    height: 16px;
}
.link-item:not(:last-child){
    margin-right: 50px;
}
.left-list {
    flex-direction: row-reverse;
    margin: 0;
}
.link:hover,
.link:focus {
    color: var(--accent-cl)
}


.backgraund {
    margin: 0;
    padding: 0;
    Height: 600px;
    background-color: #2F303A;
    padding: 200px;}
.page-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--whait-cl);
    width: 696px;
    height: 120px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}.btn {
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--whait-cl);
    background-color:var(--accent-cl);
    border-radius: 4px;
    display: flex;
    margin:0 auto;
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    color: var(--black-cl);
    text-align: center;
}
.main-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-cl);
}
.text-box {
    width: 270px;
    height: 75px;
}
.text-box{
    margin-right: 30px;
}
.job-description {
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: var(--main-text-cl);
}
.introduction {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: var(--black-cl);
}
.team-box{
    width: 1600px;
    height: 648px;
    background-color: #F5F4FA;
    box-sizing: inherit;
}
.list-position {
    display: inline-block;
}
.adress {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--whait-cl);
    text-decoration: none;
    font-style: normal;
}
.contacts {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.contacts-box {
    width: 1600px;
    height: 252px;
}
.logo-position {
    padding-top: 60px;
    padding-right: 1240px;
    padding-bottom: 20px;
    padding-left: 215px;
}
.list-item {
    padding-top: 0px;
    padding-right: 1240px;
    padding-bottom: 9px;
    padding-left: 215px;
}
.btn-portfolio {
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--whait-cl);
    background-color: var(--accent-cl)
}
.project-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--black-cl--)
}
.project-type {
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color:var(--main-text-cl)
}
.btn-portfolio {
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--black-cl);
    background-color: #F5F4FA;
}
.btn-portfolio:hover,
.btn-portfolio:focus {
    background-color: var(--accent-cl);
    color: var(--whait-cl);
}
